@font-face {
  font-family: "MaisonNeueBold";
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueBoldItalic/font.woff') format('woff');
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueBoldItalic/font.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "MaisonNeueMedium";
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueMedium/font.woff') format('woff');
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueMedium/font.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "MaisonNeueLight";
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueLightItalic/font.woff') format('woff');
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueLightItalic/font.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "MaisonNeueSemibold";
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueDemi/font.woff') format('woff');
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueDemi/font.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}


@font-face {
  font-family: "MaisonNeueMonoNormal";
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueMonoRegular/font.woff') format('woff');
  src: url('https://www.venveo.com/dist/fonts/MaisonNeueMonoRegular/font.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "SohneSchmalBold";
  src: url('https://www.venveo.com/dist/fonts/sohne-schmal/soehne-schmal-dreiviertelfett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne-SchmalExtraBold";
  src: url('https://www.venveo.com/dist/fonts/sohne-schmal/sohne-schmal-fett.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* common class */
.text_400_15 {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
}

.text_700_80 {
  font-size: 80px;
  font-weight: 700;
  line-height: 87.5%;
}

.text_300_30 {
  font-size: 30px;
  font-weight: 300;
  line-height: 100%;
}

.text_300_15 {
  font-size: 15px;
  font-weight: 300;
  line-height: 200%;
}

.text_400_13 {
  font-size: 13px;
  font-weight: 400;
  line-height: 153%;
}

.text_500_12 {
  font-size: 12px;
  font-weight: 500;
  line-height: 108%;
}

.text_700_50 {
  font-weight: 700;
  font-size: 50px;
  line-height: 88%;
}

.text_600_15 {
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
}

.text_300_20 {
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
}

.text_300_40 {
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
}

.text_400_13 {
  font-weight: 400;
  font-size: 13px;
  line-height: 153%;
}

.text_400_15 {
  font-size: 15px;
  font-weight: 400;
  line-height: 166%;
}

@media (max-width: 992px) {}